<script type='text/javascript' src="/_System/apps/sbits-swiftype/assets/js/hogan-3.0.1.js"></script>
<script type="text/javascript" src="/_System/apps/sbits-swiftype/assets/js/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript" src="/_System/apps/sbits-swiftype/assets/js/jquery.swiftype.autocomplete.js"></script>
<script type="text/javascript" src="/_System/apps/sbits-swiftype/assets/js/jquery.swiftype.search.js"></script>
<link rel="stylesheet" type="text/css" href="/_System/apps/sbits-swiftype/assets/css/autocomplete.css">
<link rel="stylesheet" type="text/css" href="/_System/apps/sbits-swiftype/assets/css/search.css">
<link rel="stylesheet" type="text/css" href="/_System/apps/sbits-swiftype/assets/css/style.css">

<!-- Custom Swiftype settings -->
<script type="text/javascript">
    var Swiftype = window.Swiftype || {};
    $(document).ready(function() {
        $("#CAT_Search").swiftype({engineKey: "{{engine.engine_key}}"});
    });
</script>
