{% extends "base.html" %}
{% load i18n %}
{% block activetab %}engines{% endblock %}

{% block content %}
<div class="main">
<div class="smallwindow">
<h2 class="hybridFormHeader">
<span class="hybridFormTitlewrap">{% trans "Add existing engine" %}</span>
</h2>

<form method="post" class="hybridForm">
    {% csrf_token %}
    {% include "_hybrid_form.html" %}
</form>

</div>
</div>
{% endblock content %}
