{% extends "base.html" %}
{% load i18n %}
{% block activetab %}engines{% endblock %}

{% block content %}
<div class="main">
<div class="smallwindow">
<h2 class="hybridFormHeader">
<span class="hybridFormTitlewrap">{% trans "Swiftype Engines" %}</span>
</h2>

<div id="hybridButtonPanel">
    <div id="hybridButtons">
        <a data-hybrid-type="button" data-hybrid-caption="Create Engine" href="#" class="basic-button small-button">Create Engine</a>
        <a data-hybrid-type="button" data-hybrid-caption="Add Existing Engine" href="{% url 'engines-add-existing' %}" class="basic-button small-button">Add Existing Engine</a>
    </div>
</div>

<div class="RadGrid RadGrid_Default">
<table cellspacing="0" class="rgMasterTable" border="0">
<tr>
    <th class="rgHeader">{% trans "Name" %}</th>
    <th class="rgHeader">{% trans "Slug" %}</th>
</tr>
{% for engine in object_list %}
<tr class="rgRow">
    <td><a href="{% url 'engine-details' engine.engine_key %}">{{engine.name}}</a></td>
    <td>{{engine.slug}}</td>
</tr>
{% empty %}
<tr class="rgNoRecords">
<td colspan="2" style="text-align:left;">{% trans "You have no configured engines." %}</td>
</tr>
{% endfor %}
</table>
</div>

</div>
</div>
{% endblock content %}
