{% extends "base.html" %}
{% load i18n %}
{% block activetab %}engines{% endblock %}

{% block content %}
<div class="main">
<div class="smallwindow">
<h2 class="hybridFormHeader">
<span class="hybridFormTitlewrap">{% trans "Engine details" %}: {{engine.name}}</span>
</h2>

<div class="RadGrid RadGrid_Default">
<table cellspacing="0" class="rgMasterTable" border="0">
<tr class="rgRow">
    <td><strong>{% trans "Slug" %}</strong></td>
    <td>{{engine.slug}}</td>
</tr>
<tr class="rgRow">
    <td><strong>{% trans "Engine Key" %}</strong></td>
    <td>{{engine.engine_key}}</td>
</tr>
<tr class="rgRow">
    <td><strong>{% trans "Engine ID" %}</strong></td>
    <td>{{engine.engine_id}}</td>
</tr></table>
</div>

<h2 class="hybridFormHeader">
<span class="hybridFormTitlewrap">{% trans "Search widget" %}</span>
</h2>
<p>
<a class="basic-button small-button" href="{% url 'engine-save-search-widget' engine.engine_key %}">{% trans "Generate search widget" %}</a>
</p>
<p>{% trans "Place the next code in your pages:" %}</p>
<code>&#123% include "/_System/apps/sbits-swiftype/search-widget--{{engine.slug}}.inc" %&#125</code>

</div>
</div>
{% endblock content %}
