{% extends "base.html" %}
{% load i18n %}
{% block activetab %}options{% endblock %}

{% block content %}
<div class="main">
<div class="smallwindow">
<h2 class="hybridFormHeader">
<span class="hybridFormTitlewrap">Swiftype Options</span>
</h2>

<form method="post" class="hybridForm">
    {% csrf_token %}
    {% include "_hybrid_form.html" %}
</form>

</div>
</div>
{% endblock content %}
