{% load i18n %}
<table class="default" cellspacing="0" cellpadding="0" width="100%" border="0">
{% for field in form %}
<tr>
    <td class="var">{{ field.label_tag }}{% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}</td>
    <td>{{ field }}{{ field.errors }}</td>
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
</tr>
{% endfor %}
</table>
<input class="basic-button large-button call-to-action" type="submit" value="{% trans 'Save' %}" />
