{% load staticfiles i18n %}{% get_current_language as LANGUAGE_CODE %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block head_start %}{% endblock %}
    <title>{% block title %}{% trans "Swiftype Integration for Adobe BC" %}{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static 'css/ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/js.cookie.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
    {% block head_tail %}{% endblock %}
  </head>
<body class="hybrid v3">
{% block body_start %}{% endblock %}
<div id="container-app">
{% block navigation %}
    <ul id="hybridSubmenu">
        <li id="tab-engines"><a href="{% url 'engines-list' %}">{% trans "Engines" %}</a></li>
        <li id="tab-options"><a href="{% url 'swiftype-options' %}">{% trans "Options" %}</a></li>
        <li id="tab-help"><a href="{% url 'help-page' %}">{% trans "Instructions" %}</a></li>
        <!-- <li id="tab-help"><a href="#">{% if user.is_authenticated %}{{user}}{% else %}Unknown{% endif %}:{{ request.META.HTTP_REFERER }}</a></li> -->
    </ul>
{% endblock %}

    <div id="container-body" class="container">{% block content %}{% endblock content %}</div>
</div>
{% block body_tail %}{% endblock %}
<script type="text/javascript">
$(document).ready(function() {
    var activeTab = "{% block activetab %}{% endblock %}";
    $("#tab-" + activeTab).addClass("active");
});
</script>
</body>
</html>
