{% extends "base.html" %}
{% load i18n %}
{% block activetab %}help{% endblock %}

{% block content %}
<div class="hybridForm">
    <h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Swiftype Integration</span></h2>
        <p>App Version: 1.0</p>
        <p>This application allows easily to integrate Swiftype search widget on your site.</p>
    <h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Usage</span></h2>
        <ol>
            <li>Copy your Swiftype widget code and Engine key to the corresponding field on the Swiftype Widget section.</li>
            <li>Press "Save" button.</li>
            <li>Place the next code: <br/>
            <code>&#123% include "/_System/apps/sbits-swiftype/swiftype.inc" %&#125</code>
            <br/>before closing tag <code>&lt;/head&gt;</code> on all pages where you want to place the widget. It can be not only pages, you also can use
                page templates or special content holder (if use something similar for
                your footer) for placing the widget to the group of pages. See demo video
                in app store.</li>
            <li>Add class <code>st-default-search-input</code> to your search input. Like that:
            <br/><code>&lt;input type="text" class="st-default-search-input" placeholder="Search this site..."&gt;</code>
            </li>
        </ol>
</div>
{% endblock content %}
