{% extends "base.html" %}
{% load i18n %}

{% block title %}Swiftype Integration{% endblock %}
{% block extra_js %}
{% if user.is_authenticated %}
<script type="text/javascript">
window.location = "{% url 'engines-list' %}";
</script>
{% endif %}
{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
{% if inside_bcadmin %}
<div class="hybridForm">
    <h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Swiftype Integration</span></h2>

    <div id="hybridButtonPanel">
        <div id="hybridButtons" style="text-align:center;">
            <a data-hybrid-type="button" data-hybrid-caption="Authorize with Business Catalyst" href="{% url 'bc-authorize' %}" class="basic-button large-button">Authorize with Business Catalyst</a>
        </div>
    </div>
</div>
{% else %}
<h1>Swiftype Integration App for Adobe Business Catalyst</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis tincidunt nulla sed placerat. Pellentesque blandit interdum dui, vel semper tortor iaculis sed. Ut metus ex, bibendum nec venenatis sed, aliquam et turpis. Morbi rhoncus, lacus ac posuere consequat, diam nunc pulvinar orci, nec feugiat lectus mauris in magna. Donec rhoncus justo id malesuada vestibulum. Proin neque urna, maximus ac ex ut, scelerisque euismod dolor. Donec ac purus non dolor mattis mattis in sit amet magna. Donec et fermentum erat. Aenean hendrerit metus lectus, non ornare sapien auctor et. Etiam ac quam eu est venenatis aliquet eget eu purus. Mauris nisi turpis, consequat sed sapien in, rhoncus aliquet neque. Curabitur pretium justo nec velit maximus, a porttitor arcu convallis.</p>
<br>
<div style="text-align:center;width:100%;"><a class="btn btn-default btn-lg" href="#">Buy in BC App Store</a></div>
<hr>
{% endif %}
{% endblock content %}
