{% extends "base.html" %}
{% load i18n %}

{% block title %}Swiftype Integration{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
<div class="hybridForm">
    <h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Processing...</span></h2>
</div>
<script type="text/javascript">
$(document).ready(function(){
    window.open("{{auth_url|safe}}", "Adobe Business Catalyst", "height=510,width=530");
});
</script>
{% endblock content %}
