{% extends "base.html" %}
{% load i18n %}

{% block title %}Swiftype Integration{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
{% if not restrict %}
<h2>{% trans "Obtaining the authorization token..." %}</h2>

<dl>
<dt>client_id</dt><dd>{{client_id}}</dd>
<dt>redirect_uri</dt><dd>{{redirect_uri}}</dd>
<dt>version</dt><dd>{{version}}</dd>
<dt>response_type</dt><dd>{{response_type}}</dd>
<dt>code</dt><dd>{{code}}</dd>
</dl>

<pre>
{{step2}}
</pre>

<script type="text/javascript">
$(document).ready(function(){
    window.opener.location="{% url 'engines-list' %}";
    window.close();
});
</script>
{% else %}
<h2>{% trans "Error" %}</h2>
{% endif %}
{% endblock content %}
