{% extends "base.html" %}
{% load i18n %}

{% block title %}Swiftype Integration{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
<div class="hybridForm">
    <h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Incorrect login process</span></h2>

    <div class="alert alert-danger">
    <p>{{error_message}}</p>
    </div>
</div>
{% endblock content %}
